<div class="text-center">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-md-2 col-sm-12 mt-5">
            <button mat-raised-button color="secondary">Registrar paciente</button>
        </div>
        <div class="col-md-2 col-sm-12 mt-5">
            <button mat-raised-button color="warn">Consultar paciente</button>
        </div>
        <div class="col-md-2 col-sm-12 mt-5">
            <button mat-raised-button color="primary">Programar cita</button>
        </div>
      </div>
    </div>
    <!-- <p>Selected date: {{ selected }}</p> -->
  </div>
  

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8 col-sm-12 mt-5 text-center">
        <mat-card >
            <h4 class="mt-4">Busqueda de pacientes</h4>
            
            <form class="example-form ">
                <div class="row justify-content-end">
                    <div class="col-md-8 col-sm-12 mt-5 text-center">
                        <mat-form-field class="example-full-width">
                            <mat-label>Cédula</mat-label>
                            <input matInput placeholder="000-000000-0000X">
                          </mat-form-field>
                        
                          <mat-form-field class="example-full-width">
                            <mat-label>Nombre completo</mat-label>
                            <input matInput placeholder="Pablito Peréz">
                          </mat-form-field>
                    </div>
                    <div class="col-md-1 col-sm-12 mt-5 text-center">
                        <button mat-raised-button color="primary">Buscar</button>
                    </div>
                    <div class="col-12 mt-4">
                        <h4>El paciente (Nombre), tiene o no cita en esta fecha (fecha)</h4>
                    </div>
                    <hr>
                </div>
              </form>
        </mat-card>
      </div>
    <div class="col-md-3 col-sm-12 mt-5">
      <mat-card class="demo-inline-calendar-card">
        <!-- <mat-calendar [(selected)]="selected"></mat-calendar> -->
        <mat-calendar [dateClass]="getCssClass.bind(this)"></mat-calendar>
      </mat-card>
    </div>
  </div>
</div>