.example-card {
    max-width: 600px;
    box-shadow: 2px 2px 2px 1px rgba(255, 255, 255, 0.699);
    border-radius: 1.5rem;
}
#main {
  width: 100%;
  display: flex;
  justify-content: center;
}

#main div {
  margin-top: 9rem;
  height: 100%;
}

.cardheader {
  color: white;
  margin: 0.5rem;
  font-size: 1.5rem; 
  display: flex; 
  justify-content: center;
}

.contenedorlogin {
  margin: 2rem;
  display: flex; 
  justify-content: center;
}

.inputform {
  display: flex; 
  justify-content: center;
}
