
<mat-toolbar class="mat-elevation-z8">
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
      menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
      close
    </mat-icon>
  </button>
  SISMED
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <img class="avatar mat-elevation-z8" src="../../assets/imagenes/sesionusr/fotoperfil.jpg" />

    <h4 class="name">Bruno Ramirez</h4>
    <p class="designation">Cargo del usuario</p>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button" [routerLink]="['bienvenida']">
      <mat-icon>home</mat-icon>
      <span>Bienvenida</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['citasmedicas']">
      <mat-icon>person</mat-icon>
      <span>Citas</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['usuarios']">
      <mat-icon>face</mat-icon>
      <span>Usuarios</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      <mat-icon>help</mat-icon>
      <span>Acerca de</span>
    </button>

    <button mat-button class="menu-button" [routerLink]="['chatconsulta']">
      <mat-icon>chat</mat-icon>
      <span>Chat</span>
    </button>

    <button mat-button (click)="logout()" class="menu-button">
      <mat-icon>logout</mat-icon>
      <span>Cerrar Sesión</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Gracias por utilizar este sistema</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Este sistema fue hecho con mucho love ♥ bajo la gestion de los 3 mosqueperros.
        <br>
        Development by, <strong>TUANISOFT</strong> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Entiendo</button>
      </div>
    </div>
  </div>
</div>