

#content {
  box-shadow: none;
  position: absolute;
  margin-top: 9rem;
  
}

.container {
  position: fixed;
  
}

table {
  margin-top: 1rem;
  box-shadow: none;
  text-align: center;
}

td button {
  margin: 5px !important;
}

th, td {
  text-align: left;
  padding: 8px;
  text-align: center !important;
}


